body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-header{
	text-decoration: underline;
	text-align: center;
}

.user-information header{
	text-decoration: underline;
	text-align: center;
}

.user-information header button{
	position:absolute;
	right:0;
}

.user-information{
	margin: auto;
	max-width: 700px;
	position:relative;
	border:1px #ccc solid;
}
.user-information label{
	display:inline-block;
	width:100px;
}
.user-information input{
	display:inline-block;
	padding: 0px;
	padding-left: 4px;
	margin-right: 5px;
}

.buffer-form {

	position:relative;
	
}
.bottom-right-corner{
	position:absolute;
	bottom:0;
	right: 0px;
	margin: auto;
}